@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00c3ff;
  --secondary: #00aaf0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
